<?xml version="1.0"?>
<model>
  <name>Techpod Cam</name>
  <version>1.0</version>
  <sdf version='1.5'>techpod_cam.sdf</sdf>

  <license>Apache 2.0</license>
  <author email="jaeyoung@auterion.com">Jaeyoung Lim</author>

  <description>
    Techpod UAV with a camera attached at the bottom
  </description>
</model>
