<?xml version="1.0"?>
<model>
  <name>3DR Iris with a slungload</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_slungload.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a slungload attached on a tether. The original model has been created by Thomas Gubler and is maintained by Lorenz Meier. 
    The slungload attachement has been created by Jaeyoung Lim
  </description>
</model>
